@media all and (min-width:900px){
    .navbar .nav-item .dropdown-menu{
        display: none; 
    }
        /* .navbar .nav-item:hover .nav-link{ color: #fff;  } */
    .navbar .nav-item:hover .dropdown-menu{
         display: block; 
         border:none;
         /* border-left: solid 1px rgb(163, 163, 163);
         border-right: solid 1px rgb(163, 163, 163); */
    }
    .navbar .nav-item .dropdown-menu{
         margin-top:0;
    }
    .dropdown:hover{
        border-top: solid 4px #735798;
        /* border-left: solid 1px rgb(163, 163, 163);
        border-right: solid 1px rgb(163, 163, 163); */
    }
    .dropdown:hover .service{
        padding-top: 3.9%;
    }
}

    
    
nav{
    background-color:rgb(255, 255, 255);
    /* padding-bottom: -15%; */
    height: 80px;
}
#navbarResponsive{
    font-size: .99em;
    padding-right: 15%;
    padding: 5%;
    font-weight: 400;
    margin-top: -4%;
    
}

.bar a{
    color: #735798;
    /* font-size: 1em; */
   font-weight: 450;
   margin-left: 20px;

}
.logo{
    /* margin-top: 5px; */
    margin-left: 200px;
}




.dropdown:hover .dropdown-menu a{
    background-color: white;
    padding-top: 15px;
}


.dropdown-menu a{
    /* font-size: 1em; */
    width: 280px;
    padding-left: 60px;
    /* text-align: center; */
    
}

.dropdown-menu h4{
    padding-top: 20px;
    text-align: center;
}

.bar{
    margin-top: 70px;
    margin-right: 20px;
}

.bar a:hover{
    color: #502588 ;
}

.tog i{
    /* background-color: brown; */
    font-size: 30px;
    color: silver;
}

#service2{
    display: none;
}




@media screen and (max-width:800px){
    .logo{
        margin-left: 10px;
        /* background-color: blue; */
        height: 100px;
        
    }

    .pic{
        /* background-color: brown; */
        height: 100px;
        width: 180px;
    }

   nav{
       /* background-color: chartreuse; */
       height:100px;
   }

   .dropdown-menu{
       display: none;
   }

  
}


.cont{
    /* margin-top: 10px; */
    /* background-color: aqua; */
    background: url(../images/service.jpg);
    height: 500px;
}

.middle{
    margin-top: 150px;
    margin-left: 550px;
    background-color: white;
    width: 500px;
    height: 250px;
}

.middle h2{
    padding-top: 40px;
}

.img{
    height: 300px;
    width: 600px;
    padding-left: 100px;
}

.cont2{
    margin-top: 100px;
}

.row1 {
    margin-top: 50px;
}

.row2 h1{
    margin-left: 450px;
}

.row2{
    margin-top: 100px;
}

.rowabout{
    margin-top: 100px;
}

.row4{
    margin-top: 100px;
    /* background-color: black; */
}

.row4 h2{
    margin-left: 450px;
}

.imgholder{
    width:900px;
    height: 550px;
    padding-left: 160px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.row5{
    background-color: rgb(221, 243, 250);
}

.col5 h2{
    padding-top: 150px;
}

.colFAQ ul li{
    list-style: none;
    padding-top: 20px;
    font-size: 40px;
    
}

.colFAQ ul li a{
    text-decoration: none;
    color:#735798;
}

.colFAQ h2{
    font-weight: 400;
}

.colFAQ i{
    font-size: 25px;
}

.cont6{
    margin-top: 100px;
}

.imgholder2{
    width:700px;
    height: 550px;
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding-right: 100px; */
}

.colStore h2{
    margin-top: 160px;
}

.colStore h2, .colStore p,.colStore input, .colStore a{
    margin-left: 50px;
    
}

.numberinp{
    height:50px;
    width: 350px;
    border-radius: 5%;
    border: none;
}

.btnApp, .btnHelp,.btnHelp2{
    height: 70px;
    /* background-color: #735798; */
    color: white;
}

.btnApp{
    width: 200px;
    background-color: #735798;
    /* color:white; */
}

.btnHelp{
    margin-top: 30px;
    background-color: black;
    /* height: 75px; */
}

.btnHelp2{
    margin-top: 30px;
    margin-left: 10px;
    /* height: 50px; */
    background-color: black;
}

.colStore  p{
    padding-right: 80px;
    padding-top: 30px;
}

.colStore i{
    /* color: white; */
    font-size: 26px;
}

.colStore span{
    padding-top: 0%;
    padding-left: 20px;
    font-size: 10px;
}