
/* @media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
} */

.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }


nav{
    background-color:white;
    height: 80px;
    /* padding-bottom: -15%; */
}
#navbarResponsive{
    font-size: .99em;
    padding-right: 15%;
    padding-top: 150px;
    font-weight: 400;
    margin-top: -4%;
    
}

.logo{
    margin-top: 20px;
    margin-left: 100px;
}


.cont{
    /* margin-top: 10px; */
    /* background-color: aqua; */
    background: url(../images/service.jpg);
    height: 500px;
}

.middle{
    margin-top: 150px;
    margin-left: 550px;
    background-color: white;
    width: 500px;
    height: 250px;
}

.middle h2{
    padding-top: 40px;
}

.img{
    height: 300px;
    width: 600px;
    padding-left: 100px;
}

.cont2{
    margin-top: 100px;
}

.row1 {
    margin-top: 50px;
}

.row2 h1{
    margin-left: 450px;
}

.row2{
    margin-top: 100px;
}

.rowabout{
    margin-top: 100px;
}

.row4{
    margin-top: 100px;
    /* background-color: black; */
}

.row4 h2{
    margin-left: 450px;
}

.imgholder{
    width:900px;
    height: 550px;
    padding-left: 160px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.row5{
    background-color: rgb(221, 243, 250);
}

.col5 h2{
    padding-top: 150px;
}

.colFAQ ul li{
    list-style: none;
    padding-top: 20px;
    font-size: 40px;
    
}

.colFAQ ul li a{
    text-decoration: none;
    color:#735798;
}

.colFAQ h2{
    font-weight: 400;
}

.colFAQ i{
    font-size: 25px;
}

.cont6{
    margin-top: 100px;
}

.imgholder2{
    width:700px;
    height: 550px;
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding-right: 100px; */
}

.colStore h2{
    margin-top: 160px;
}

.colStore h2, .colStore p,.colStore input, .colStore a{
    margin-left: 50px;
    
}

.numberinp{
    height:50px;
    width: 350px;
    border-radius: 5%;
    border: none;
}

.btnApp, .btnHelp,.btnHelp2{
    height: 70px;
    /* background-color: #735798; */
    color: white;
}

.btnApp{
    width: 200px;
    background-color: #735798;
    /* color:white; */
}

.btnHelp{
    margin-top: 30px;
    background-color: black;
    /* height: 75px; */
}

.btnHelp2{
    margin-top: 30px;
    margin-left: 10px;
    /* height: 50px; */
    background-color: black;
}

.colStore  p{
    padding-right: 80px;
    padding-top: 30px;
}

.colStore i{
    /* color: white; */
    font-size: 26px;
}

.colStore span{
    padding-top: 0%;
    padding-left: 20px;
    font-size: 10px;
}