@media all and (min-width:900px){
    .navbar .nav-item .dropdown-menu{
        display: none; 
    }
        /* .navbar .nav-item:hover .nav-link{ color: #fff;  } */
    .navbar .nav-item:hover .dropdown-menu{
         display: block; 
         border:none;
         /* border-left: solid 1px rgb(163, 163, 163);
         border-right: solid 1px rgb(163, 163, 163); */
    }
    .navbar .nav-item .dropdown-menu{
         margin-top:0;
    }
    .dropdown:hover{
        border-top: solid 4px #735798;
        /* border-left: solid 1px rgb(163, 163, 163);
        border-right: solid 1px rgb(163, 163, 163); */
    }
    .dropdown:hover .service{
        padding-top: 3.9%;
    }
}

    
    
nav{
    background-color:rgb(255, 255, 255);
    /* padding-bottom: -15%; */
    height: 80px;
}
#navbarResponsive{
    font-size: .99em;
    padding-right: 15%;
    padding: 5%;
    font-weight: 400;
    margin-top: -4%;
    
}

.bar a{
    color: #735798;
    /* font-size: 1em; */
   font-weight: 450;
   margin-left: 20px;

}
.logo{
    /* margin-top: 5px; */
    margin-left: 200px;
}




.dropdown:hover .dropdown-menu a{
    background-color: white;
    padding-top: 15px;
}


.dropdown-menu a{
    /* font-size: 1em; */
    width: 280px;
    padding-left: 60px;
    /* text-align: center; */
    
}

.dropdown-menu h4{
    padding-top: 20px;
    text-align: center;
}

.bar{
    margin-top: 70px;
    margin-right: 20px;
}

.bar a:hover{
    color: #502588 ;
}

.tog i{
    /* background-color: brown; */
    font-size: 30px;
    color: silver;
}

#service2{
    display: none;
}




@media screen and (max-width:800px){
    .logo{
        margin-left: 10px;
        /* background-color: blue; */
        height: 100px;
        
    }

    .pic{
        /* background-color: brown; */
        height: 100px;
        width: 180px;
    }

   nav{
       /* background-color: chartreuse; */
       height:100px;
   }

   .dropdown-menu{
       display: none;
   }

  
}




.con{
    margin-top: 100px;
    /* background-color: aqua; */
    background: url(../images/back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.con h1{
    margin-top: 250px;
    font-size: 50px;
    color: white;
}




.con2{
    margin-top: 30px;
}

.col2 h1{
    font-weight: 400;
}

li{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    color: #735789;
}

.row{
    margin-top: 50px;
    /* background-color: aqua; */
}

li .link{
    text-decoration: none;
    font-size: 20px;

}

#name{
    width:460px;
    height: 40px;
    
}


footer{
    margin-top: 12%;
    padding: 3%;
    background: #735798;
    color: white;
    margin-bottom: 0%;
}

.picholder{
    width: 850px;
    height: 600px;
    padding-left: 100px;
}

.form,.colform h2,.colform h5{
    padding-left: 100px;
    padding-right: 100px;
}

.colform h5{
    font-weight: 100;
}

.form{
    padding-right: 200px;
}

.label1{
    font-size: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.form p span{
    font-size: 45px;
    font-weight: 600;
}

.form p{
    margin-top: 50px;
}

.btnstart{
    width: 470px;
    background-color: #735798 ;
    color: white;
    margin-top: 30px;
}

.btnstart:hover{
    color: white;
    background-color: #4e2a7e;
}

.form p:nth-child(7){
    text-align: center;
    margin-top: 30px;
}

.form p:nth-child(7) a{
    text-decoration: none;
}

.hor{
    color: #502588 ;
    height: 10px;
}

.coldesc p{
    /* background-color: blue; */
    padding-left: 600px;
    padding-right: 600px;
    margin-top: 20px;
}

.about{
    margin-top: 130px;
}

.about h4{
    margin-top: 20px;
}

.imgabout{
    width: 850px;
    height: 400px;
    padding-left: 100px;
}

.colabout p{
    padding-right: 300px;
}

.rowdesc{
    margin-top: 200px;
}
.about h2{
    text-align: center;
}

footer{
    margin-top: 12%;
    padding: 3%;
    background: #735798;
    color: white;
    margin-bottom: 0%;
}
.foot .card {
    color: #735798 !important;
    background-color: #FFFFFF !important;
}

.foot h5 {
    font-size: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important;
}

.fa {
    cursor: pointer;
    font-size: 21px;
    margin: 5px 10px 5px 10px !important;
}
.foot button {
    font-size: calc(13px + (16 - 13) * ((100vw - 360px) / (1600 - 320))) !important;
    border-radius: 0 !important;
    padding-left: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important;
    padding-right: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important;
    padding-top: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
    padding-bottom: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
    background-color: #383431 !important;
    border: none !important;
}

.foot button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.foot li {
    margin-top: 8px;
    margin-bottom: 8px;
}

.foot input::-webkit-input-placeholder {
    padding-left: 5px !important;
    transform: translate3d(0, -2px, 0);
}

.foot input::placeholder {
    vertical-align: middle !important;
    color: rgb(196, 193, 193) !important;
    font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important;
}

.foot input {
    border-radius: 2px !important;
    background: transparent !important;
    color: #FFFFFF !important;
}

.foot input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
    border-color: #FFFFFF !important;
}

.foot img {
    vertical-align: middle !important;
    width: 100%;
    width: calc(30px + 6 * ((100vw - 320px) / 680)) !important;
}

.foot li:first-child {
    font-size: 18px !important;
    font-weight: bold;
}

.foot footer {
    background-color: #421553 !important;
    color: #FFFFFF !important;
}
.foot ul li a{
    color: #ffffff;
}
.foot small {
    font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important;
}

.foot p {
    font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important;
    color: rgb(196, 193, 193) !important;
}

.foot .social {
    position: relative;
    left: -10px;
}

.foot .Subscribe {
    background-color: #FFFFFF !important;
    color: #383431 !important;
    font-weight: bold;
}

.foot li:not(:first-child) {
    color: rgb(196, 193, 193) !important;
}

.cards{
    margin-left: 0px;
    height: 250px;
    width: 500px;
    margin-top: 30px;
    
}

.cards2{
    margin-left: 0px;
    height: 200px;
    width: 500px;
    margin-top: 30px;
}

.cards3{
    margin-top: 30px;
}

.img3{
    width: 150px;
    height: 130px;
    margin-top: 30px;
    margin-left: 90px;
    border-radius: 10%;
    float: left;
}

.body h5{
    text-align: center;
}

.constreet h5{
    padding-top: 20px;
    font-weight: 200;
    font-size: 18px;
}

.cards5{
    margin-top: 20px;  
    background-color: blue;
    padding-left: 20px;
   padding-right: 20px; 
}

.street{
    height:60px;
    margin-top: 20px;
    width: 800px;
   
}

.btncon{
    width: 250px;
    margin-left: 400px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.img5{
    
    width: 150px;
    height: 130px;
    margin-top: 30px;
    margin-left: 90px;
    border-radius: 50%;
    float: left;
    
}
.ser{
    text-align: center;
    margin-top: 40px;
}