@media all and (min-width:900px){
    .navbar .nav-item .dropdown-menu{
        display: none; 
    }
        /* .navbar .nav-item:hover .nav-link{ color: #fff;  } */
    .navbar .nav-item:hover .dropdown-menu{
         display: block; 
         border:none;
         /* border-left: solid 1px rgb(163, 163, 163);
         border-right: solid 1px rgb(163, 163, 163); */
    }
    .navbar .nav-item .dropdown-menu{
         margin-top:0;
    }
    .dropdown:hover{
        border-top: solid 4px #735798;
        /* border-left: solid 1px rgb(163, 163, 163);
        border-right: solid 1px rgb(163, 163, 163); */
    }
    .dropdown:hover .service{
        padding-top: 3.9%;
    }
}

    
    
nav{
    background-color:rgb(255, 255, 255);
    /* padding-bottom: -15%; */
    height: 80px;
}
#navbarResponsive{
    font-size: .99em;
    padding-right: 15%;
    padding: 5%;
    font-weight: 400;
    margin-top: -4%;
    
}

.bar a{
    color: #735798;
    /* font-size: 1em; */
   font-weight: 450;
   margin-left: 20px;

}
.logo{
    /* margin-top: 5px; */
    margin-left: 200px;
}

.tog i{
    /* background-color: brown; */
    font-size: 30px;
    color: silver;
}

@media screen and (max-width:800px){
    .logo{
        margin-left: 10px;
        background-color: blue;
        height: 100px;
        
    }

    .pic{
        background-color: brown;
        height: 100px;
        width: 130px;
    }

   
}

.dropdown:hover .dropdown-menu a{
    background-color: white;
    padding-top: 15px;
}


.dropdown-menu a{
    /* font-size: 1em; */
    width: 280px;
    padding-left: 60px;
    /* text-align: center; */
    
}

.dropdown-menu h4{
    padding-top: 20px;
    text-align: center;
}

.bar{
    margin-top: 70px;
    margin-right: 20px;
}

.bar a:hover{
    color: #502588 ;
}




img{
    width: 400px;
}

.cont{
    margin-top: 200px;
}