@media all and (min-width:900px){
    .navbar .nav-item .dropdown-menu{
        display: none; 
    }
        /* .navbar .nav-item:hover .nav-link{ color: #fff;  } */
    .navbar .nav-item:hover .dropdown-menu{
         display: block; 
         border:none;
         /* border-left: solid 1px rgb(163, 163, 163);
         border-right: solid 1px rgb(163, 163, 163); */
    }
    .navbar .nav-item .dropdown-menu{
         margin-top:0;
    }
    .dropdown:hover{
        border-top: solid 4px #735798;
        /* border-left: solid 1px rgb(163, 163, 163);
        border-right: solid 1px rgb(163, 163, 163); */
    }
    .dropdown:hover .service{
        padding-top: 3.9%;
    }
}

    
    
nav{
    background-color:rgb(255, 255, 255);
    /* padding-bottom: -15%; */
    height: 80px;
}
#navbarResponsive{
    font-size: .99em;
    padding-right: 15%;
    padding: 5%;
    font-weight: 400;
    margin-top: -4%;
    
}

.bar a{
    color: #735798;
    /* font-size: 1em; */
   font-weight: 450;
   margin-left: 20px;

}
.logo{
    /* margin-top: 5px; */
    margin-left: 200px;
}




.dropdown:hover .dropdown-menu a{
    background-color: white;
    padding-top: 15px;
}


.dropdown-menu a{
    /* font-size: 1em; */
    width: 280px;
    padding-left: 60px;
    /* text-align: center; */
    
}

.dropdown-menu h4{
    padding-top: 20px;
    text-align: center;
}

.bar{
    margin-top: 70px;
    margin-right: 20px;
}

.bar a:hover{
    color: #502588 ;
}

.tog i{
    /* background-color: brown; */
    font-size: 30px;
    color: silver;
}

#service2{
    display: none;
}




@media screen and (max-width:800px){
    .logo{
        margin-left: 10px;
        /* background-color: blue; */
        height: 100px;
        
    }

    .pic{
        /* background-color: brown; */
        height: 100px;
        width: 180px;
    }

   nav{
       /* background-color: chartreuse; */
       height:100px;
   }

   .dropdown-menu{
       display: none;
   }

  
}

/*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

img{
    width: 400px;
}

.cont{
    margin-top: 200px;
}